*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch-box{
    height: 50%;
    width: 60%;
    background-color: rgb(59, 59, 59);
    box-shadow: 2px 2px 50px  white;
    border-radius:15px;
    border: 2px solid rgb(255, 255, 255);
}
.counting-box{
    height: 70%;
    display: flex;
    justify-content: space-between;
   

}
.btn-box{
    padding: 0vw 12vw;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    padding: 10px 15px;
    font-size: 2vw;
    border-radius: 7px;
    color: white;
}

 .display{
    height: auto;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11vw;
    font-weight: bold;
    text-shadow: -1px -1px 10px rgb(255, 255, 255);

 }
 .seperator{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
 }
.start-btn{
    background-color: green;
}
.stop-btn{
    background-color: red;
}
.reset-btn{
    color: black;
    background-color: rgb(172, 184, 143);
}

.dissable-btn{
    background-color: rgb(173, 170, 170);
    color: rgba(99, 96, 96, 0.891);
    padding: 10px 15px;
    font-size: 2vw;
    border-radius: 7px;
    border: none;
}
@media (max-width:768px){
    .stopwatch-box{
        height: 30%;
        width: 95%;
    }
    .count-time{
        font-size: 16vw;
    }
    .btn{
        font-size: 5vw;
    }
    .btn-box{
        padding: 0vw 5vw;
    }
}